<% @title = 'なぜ裕福になれないか？' %>
<h1><%= @title %></h1>

<h2><strong>※最重要項目※</strong></h2>
<tr><th>裕福になる人、出世する人は以下の要素と真逆な人達です。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3"></th>なぜ98.5％の人間が裕福になれないか</tr>
    <tr><th><strong>現状の生活に疑問を抱かない</strong></th><td><strong>成功者になろうともしない、富裕層をうらやましがるだけ。それが裕福になれない大きな原因です。</strong></td></tr>
    <tr><th>自分の社会的位置が見えていない</th><td>今の自分が社会のピラミッドでどの位置にいるかわかっていない。地図を持っているが現在位置がわからない状態になってしまっている。</td></tr>
    <tr><th>これからどうするか</th><td>目標を定め挑戦し社会的ステータスを得るか<br>現状維持を最良とし他人に依存し続けて生活するか<br>現状から逃亡し貧困生活に身を落としていくか<br>この３択しかないことに気付こう。
      </td></tr>
    <tr><th>会社の仕組みを知ろう</th><td>会社組織はピラミッド型になっていて頂点に近いほど報酬が高いシステムになっている。下位の社員が上に行くには上位の人間がいなくなる必要がある。よって能力があっても少額の給料アップで納得し生活を続けるしかない。</td></tr>
    <tr><th>捨てるのが怖い</th><td>今の生活サイクルの中から新しいことを始めるための時間を作れない。何かをやめて時間を作らない限り人生を逆転するようなことはできないことに気付いていない。</td></tr>
    <tr><th>自分に期待してしまう</th><td>本を読んだだけで自分の未来に期待して満足してしまう。「幸運のなんとか」みたいな物に期待し幸運が舞い込んでくることに期待してしまう。「パワーストーン」なんかがいい例であれはただの綺麗な石です。石が何かしてくれる訳ありません。石で幸運になれば楽でいいのですが・・・そんな石があるなら教えてください。<br></td></tr>
    <tr><th>チャンスが来ると思っている</th><td>いずれチャンスが来ると思っていて現状に耐えている。・・来ません。チャンスは誰にでも巡ってくると信じている。・・来ません。時代が違います。インターネットが普及して情報が誰でも、どこでも手に入る現代社会ではチャンスをつかみに行く人にしか巡ってきません。</td></tr>
    <tr><th>周りに同調してしまう</th><td>周りに反対されると萎縮してしまいやめてしまう。あなたが上のステータスを得ることに嫉妬していることに気付かない。決意が弱いため孤独になることが怖くて周囲の意見に流されてしまう。</td></tr>
    <tr><th>悪いことの次にいいことがあると思っている</th><td>そんなにバランスのいいことなど無いことに気付かない。いいことの後に調子に乗ってしまい足下をすくわれてしまうことはあります。悪い流れは自力で断ち切るしか無いことに気付かない。</td></tr>
    <tr><th>無限の可能性を信じている</th><td>無限の可能性などという根拠の無いことを信じている。可能性は確かにありますが、それは上のステータスに行こうと動いたときにだけ可能性が出てくる物です。ゼロを何倍にしてもゼロだということに気付かず動かない（ゼロのまま）のでなにも変化が起きない。</td></tr>
    <tr><th>成功の法則を信じている</th><td>成功する魔法の法則があるかのように信じている。人類の長い歴史の中ですでにどうすれば成功できるかは解明されていることを知らない。このサイトでこれから説明していきますが魔法の法則などありません！。手段があるだけです。</td></tr>
    <tr><th>諦めている自分に気付かない</th><td>勝ち組になるのを気付かないうちに諦めている。勝ち組は別世界の人間だと思っていてその世界に１回も行こうとさえしない。だから勝ち組になれないのに・・・</td></tr>
    <tr><th>できない病</th><td>できない病に犯されてしまっている。出来るのに先入観だけでできないと考えてしまい行動に移れない。</td></tr>
    <tr><th>成功者は違う生き物だと思っている</th><td>確かに芸能人など特殊能力で成功する人達もいます。しかし、自分が勝ち組の方へ進んでいけることにすら気付かない人が98.5％もいるのです。このサイトをきっかけに歩き始めましょう。</td></tr>
    <tr><th>AI（人工知能）の脅威</th><td>AI、ロボットがどれくらいの仕事を奪っていくのか想像できませんが、少し研修を受ければできる仕事はもうすぐ無くなるでしょう。生き残れない企業も多数出てくるでしょう。あなたは大丈夫？このサイトを利用し早急に準備しましょう。</td></tr>
    <tr><th><strong>リスクが大きすぎる</strong></th><td><strong>98.5％の人がこれだと思います。「失敗したら生きて行けなくなる。」実際にその通りです。なのでこのサイトを良く理解し、リスク回避したうえで挑戦する機会を提供させていただきます。</strong></td></tr>
  </table>
  <h2>当てはまる項目いくつありましたか？成功者のほとんどは当たり前のように逆のことができた挑戦した人達です。</h2>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>