<% @title = 'セレブとは？' %>
<h1><%= @title %></h1>

<tr><th>セレブ生活って何だろう？人によってそれぞれ感覚が違うと思いますがここは勝手な解釈で説明します。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">セレブ生活とは？</th></tr>
      <tr><th>セレブのように</th><td>最終的にセレブになれる確率は非常に低いのですが、現状の生活から脱出し、老後の心配が無い状態までは生活水準を上げたいものです。</td></tr>
      <tr><th>金銭的余裕</th><td>大富豪とまではいかなくても年収1000万円程度はほしいものです。日本の平均年収が416万円なので1000万円の年収があればそれなりの生活ができるでしょう。</td></tr>
      <tr><th>時間的余裕</th><td>今現在、会社のためにどれくらいの時間を使っていますか？その時間を自分の時間として使えるとしたら？これぞ、セレブって感じでしょう。</td></tr>
      <tr><th>物品的な余裕</th><td>収入がUPすれば自然と持ち物もレベルUPします。物品的な物も少しずつ満たされてい顧問です。</td></tr>
      <tr><th>精神的余裕</th><td>金銭的、時間邸、物品的の余裕がでてくると精神的な余裕も生まれてきます。それによって視野も見識も広がりさらに人脈までついてきてどんどん生活水準が上がっていっ来ます。一般人がいきなり富豪になることはあり得ません。徐々に上向いていくものです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  