<% @title = 'どの分野で実現するか' %>
<h1><%= @title %></h1>

<tr><th>何をやればいいのか</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">どの分野で何をすればいいのか</th></tr>
      <tr><th>イノベーションを生み出そうとしないこと</th><td>ハッキリ言います。無理です。その方面からはアプローチするべきではありません。1つの分野で成功してから挑戦するべきです。</td></tr>
      <tr><th>求人広告誌を見てみよう</th><td>数冊の広告求人誌の中からその中で自分にできること、興味のあること、得意なことを選びましょう。</td></tr>
      <tr><th>本当にやりたい仕事は？</th><td>本当にやりたい仕事は何か知っていますか？今の仕事は給料が高い、会社が大きい、安定している、家から近い、何でもいいから収入をなどの理由で決めたはずです。そういう視点ではなくこれが仕事だったら楽しいだろうなというものはなんですか？</td></tr>
    <tr><th>求人広告誌と本当にやりたい仕事との比較</th><td>本当にやりたい仕事は求人広告誌の中にありましたか？あったらそれで起業するのがいいでしょう。あった場合、無かった場合の両方の<strong>アプローチ方法</strong>を以下リンク内容で進めてください。<br><%=link_to "求人誌にあった", :is_there_customer_success %><br><%= link_to "求人誌に無かった", :non_customer_success %></td></tr>
      <tr><th>選択のしかた</th><td>儲かりそうだ、楽ができそうだなどの理由で選ばないこと。失敗の原因の大半はそこの選択が間違っているからだと考えられます。</td></tr>
      <tr><th>好きなことが一番</th><td>時間の使い方でも説明しましたが好きなことが一番です。楽しい、夢中になれる、時間を忘れる、アイデアがどんどん出てくる、疲れない。など成功するために必要なことが全て盛り込まれているからです。</td></tr>
      <tr><th>好きだけでは食べていけない</th><td>普通はそうです。しかし、このサイトを利用しているあなたはWONDER GATEの報酬で食べれる可能性があるわけです。なので余裕を持って好きなことを仕事にすることができるのです。収入源が1つしか無い人とは条件が違うのです。</td></tr>
      <tr><th>プランを設計してみる</th><td>上のリンク（アプローチ方法）に従い自分でプランを作りましょう。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  