<% @title = 'WONDER GATEの継続' %>
<h1><%= @title %></h1>

<tr><th>なぜ、このサイトを継続する必要があるのか？</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">WONDER GATEの必要性</th></tr>
    <tr><th>なぜ挑戦できないか</th><td>現実問題として<strong>[挑戦 = 生活費が途切れる]</strong>という不安から<strong>[何もできない = 諦める]</strong>となるのです。
      </td></tr>
    <tr><th>WONDER GATE</th><td>このサイトを拡散しビジネス収入（副収入）を得ましょう。現在の月収と同等の収入を得ることで不安なく挑戦できます。</td></tr>
    <tr><th>WONDER GATEの収入</th><td>がんばれば2～3ヶ月で現在の月収と同等まで得ることはできるでしょう。これで、収入は現在の収入+WONDER GATEの収入で２倍になります。別ページの<%= link_to '報酬1：キャッシュバックとは？', :cache_customer_rule %>・<%= link_to '報酬2：ボーナスとは？', :bonus_customer_rule %>を参照してください。</td></tr>
    <tr><th>独立準備資金の確保</th><td>このサイトからの収入で事業資金を確保します。</td></tr>
    <tr><th>WONDER GATEの継続</th><td>ほとんどノーリスクのWONDER GATEを継続することで現在の生活レベルは確保できています。よって、何か不足の事態があっても再トライできます。</td></tr>
  </table>
  <h2>以上のようなことからWONDER GATEを上手く利用し、一歩踏み出しましょう。</h2>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>