<% @title = '実現するまでのスケジュール' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="attributes">
    <p>セレブ生活へのスケジュール</p>
    <p>
    <%= image_tag("selebu.jpg", size: "60*60", alt: "実現スケジュール", align: "top") %>
    </p>
    <ul>
      <p>各項目のページ詳細を理解し、後は勇気を持って挑戦するだけです。</p>
    </ul>
  </table>
</div>
    
<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>