<% @title = '覚悟を決める' %>
<h1><%= @title %></h1>

<tr><th>スタートしたらブレない覚悟を持つことが必要です。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">覚悟を決めるということ</th></tr>
      <tr><th>後ろを見ないこと</th><td>落ち込む暇がらったら「次はこうしてみよう」とすぐに切り換える</td></tr>
      <tr><th>甘えを捨てよう</th><td>誰かがなんとかしてくれるとか時間が解決してくれるなんてことはありません。甘え　＝　逃げ　を理解しよう。</td></tr>
      <tr><th>恥のかきかた</th><td>挑戦して上手くいかずにかいた恥、「やる」と言ったが失敗したとき恥をかきそうなのでやめた。恥ずかしいのはどっち？</td></tr>
      <tr><th>優先順位</th><td>覚悟の決まった人というのは優先順位の先頭に来るのが常に「やる」ときめた事柄です。「TVをみる時間があったらネットで情報を集めよう。」のように成功するために必要なことを優先的にやります。</td></tr>
      <tr><th>堂々としている</th><td>覚悟が決まれば堂々とした雰囲気が出てきます。オーラという奴です。成功者のオーラ（雰囲気）は覚悟の表れです。会社内で偉くても雰囲気の無い人というのは口先だけの人が多くないですか？</td></tr>
      <tr><th>誘惑･恐怖に負けない</th><td>成功に向かい一歩踏み出すと誘惑、恐怖が何度も襲ってきます。それに負けるということは覚悟が甘いと自覚しましょう。</td></tr>
      <tr><th>決意</th><td>覚悟を決めるとはやり切るまで歩みを止めないということです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  