<% @title = 'プログラミング・英会話' %>
<h1><%= @title %></h1>

<tr><th>スタートしたらブレない覚悟を持つことが必要です。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">なぜプログラミングが必要か</th></tr>
      <tr><th>プログラミング</th><td>ゲームを作るとか、アニメーションさせるような高度なプログラミングではなくWebサイトを作れる程度にはなっておいた方がいいでしょう。事業を始めるにしても、情報を発信するにしても自分でできればスピードと伝えたいことの正確性を高めることができます。外部に依頼するとビックリするくらいの費用がかかります。それで収入を得ることもできるようになります。</td></tr>
      <tr><th>働き方が変わった</th><td>これからは一昔前のようにお金をかけて会社を作り設備投資するやり方での起業は難しいでしょう。なぜなら、インターネットの普及と輸送手段の高速化により競走相手が世界となってしまっているからです。最近の成功している人はみんなインターネットを絡めて成功しています。そう、働き方が変わってしまいました。今後、もっと進化して行くでしょう。そこに食い込むためにプログラミングが必要となってくるのです。</td></tr>
      <tr><th>アイデアを発信する</th><td>プログラミングができると自分のアイデアを自分の思うように発信できます。これは大きなアドバンテージになります。</td></tr>
      <tr><th>必ず必要な訳でも無い</th><td>プログラミングができないと成功できないという訳ではありません。できた方が選択肢が無限に広がるというだけです。どんなものなのかだけでも知っておいた方がいいです。簡単ではありませんが向かってみましょう。</td></tr>
    
    <tr><th colspan= "3">なぜ英会話が必要か</th></tr>
      <tr><th>なぜ必要か？</th><td>世界中から情報が流れ込んできています。英語がわからないから触れることができないというのは成長のマイナスポイントになります。</td></tr>
      <tr><th>日本の人口と英会話人口</th><td>日本の人口は1.2億人です。世界の英語人口は17.5億人です。全人類の4人に1人は英語を話しています。日本語しか話せないということがどれほど世界を狭めていることかわかるでしょう。お金の流れもビットコインのように変化してきています。年寄りばかりの日本人相手だけではやっていけなくなります。人口減少に苦しんでいる地域の状態が将来の日本の状態だと思っていいでしょう。今から、世界に飛び出していく準備をしておきましょう。</td></tr>
      <tr><th>必要性を実感した時は遅い</th><td>これから義務教育で英会話を取り入れていくので英語に触れる機会も多くなるでしょう。そのときにあせっても手遅れです。いまから始めましょう。テストのための学生英語と違い楽しいですよ。海外旅行に行ったときも10倍は楽しく旅行ができます。</td></tr>

  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  