<% @title = '時間の使い方' %>
<h1><%= @title %></h1>

<tr><th>時間をどう使うか</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">よく言われていることの本質を知る</th></tr>
      <tr><th>時間には限りがある</th><td>人生は短いと言いたいのでしょう。しかし、人生は結構長いです。ボ～っとしていた時間がありすぎて記憶に残ってない時間がたくさんあるので短く感じているだけです。</td></tr>
      <tr><th>時間は誰にでも平等</th><td>1日24時間は誰にでも平等に与えられる共通の財産です。無駄に使わないように、有効に使うようにとでも言いたいのでしょう。実は時間の使い方とか有効に使うにはどうすればいいかなどを考えている時間が一番無駄な時間なことに気付かない。</td></tr>
      <tr><th>過ぎた時間は戻ってこない</th><td>後で後悔しないようにしましょうと言いたいのでしょう。実際、後で後悔するのがわかっていながら物事を進める人はいません！。後悔するということは動いた結果の評価を自分でしていることなので実はいいことなんです。何もしないより全然いいことです。要は、今の瞬間にどれだけ集中しているかの問題です。後悔の無い人生ほど無意味だと思います。</td></tr>
      <tr><th>今の積み重ねが未来を作る</th><td>今の瞬間を大切にしましょう。今を大切にできないと明るい未来は無いとでも言いたいのでしょう。まったくその通りだと思いますが、そんなこと考えて生きている人いますか？成功者は皆そうだとでも思っていますか？実際は楽しいことを積み重ねる時間を大切にしましょうというのが正しい解釈だと思います。</td></tr>
      <tr><th>時は金なり</th><td>こんなことわざががありますが、これは労働者に対して一生懸命働きなさいと言いたいわけです。確かに時間を惜しんで働くことは大切なことですが時代が変わったことに気付いてください。労働時間　＝　収入　ではワンランク上に行けることはありません。働き方が変わりました。情報×アイデア×実行力が上のステージに行く方法です。悲しいことですが、経営者のほとんどがいまだに労働者を時間で縛り付けていますね。これから変わっていくようですが・・・いつになることやら　</td></tr>
      <tr><th>早起きは三文の徳</th><td>早く起きたら体にもいいし、仕事や勉強がはかどりますということです。？？？ですね。今は24時間仕事ができるし昼、夜関係なしに世の中が動いています。むしろ早起きばっかりしていると眠くて仕事できないじゃん。休養は3億の徳とでもい言いたいくらいです。今はどの時間に仕事をすれば一番成果がでるかが重要です。</td></tr>
      <tr><th>結論</th><td>実はあなたも時間を完全に有効活用した経験を持っています。小さい頃遊びに夢中、スポーツに夢中、勉強に夢中、恋に夢中になったことがあるはずです。そのとき時間の使い方とか未来がどうなるかとか不安や迷いは全くなかったはずです。そのときが一番成長するし記憶にも残っています。そして無意識に優先順位が決まっている状態だったはずです。永遠にこの時間が続けばいいと願い、寝る時間も惜しんでいたはずです。いまはその状態ですか？実はその状態を仕事で作れるかどうかで勝負が決まります。成功者はこの状態を仕事に作れた人です。何も特別なことではありません。ですから周りから見たら大変そうなことでも本人にしたら遊びと同じ感覚で取り組んでいるので楽しいのです。この差が一般人と成功者の時間の使い方の違いなのです。仕方なく仕事をしているから成功できないということに気付いてください。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  