<% @title = '一流に触れてみよう' %>
<h1><%= @title %></h1>

<tr><th>本物の一流に触れてみよう</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">今よりワンランク上に触れる</th></tr>
      <tr><th>レストラン</th><td>今まで行ったことの無いような所に行ってみましょう。見栄を張って高い物を食べる必要はありません。雰囲気に触れるのです。</td></tr>
      <tr><th>鮨</th><td>銀座の高級寿司店とはいかなくてもそれなりの寿司店に行ってみましょう。カウンター席で「予算１万円でお任せでお願いします。」と伝えお酒は飲まないようにしましょう。その際に親方に成功者の雰囲気を味わいたくて初めて来ました。などと言えば楽しい話をしてくれるでしょう。</td></tr>
      <tr><th>バーにも行ってみましょう</th><td>入るのに勇気がいると思いますが、少々高級感のあるバーがいいでしょう。がぶ飲みさえしなければ安いもんです。</td></tr>
      <tr><th>高級ホテルのラウンジ</th><td>高級ホテルのラウンジに行ってみましょう。日本一といわれる都内のホテルのラウンジでもコーヒー一杯￥2，000ですから雰囲気を味わうだけなのでコーヒーでも飲んでくつろいで見ましょう。</td></tr>
      <tr><th>クラブには行かないように</th><td>高い上に、誘惑が多いのでここは成功してからのお楽しみにしましょう。</td></tr>
      <tr><th>ドンペリを飲んでみよう</th><td>お店で飲むと数何円しますが酒屋さんで￥15,000で買えます。少し余裕のあるときにどんな味か飲んでみましょう。</td></tr>
      <tr><th>高級車を見に行こう</th><td>今までは縁の無かったような高級車を見学に行ってみましょう。座席に座らせてもれえればラッキーですね。</td></tr>
      <tr><th>いつ行くのか？</th><td>1ヶ月おきに1つずつ訪問して見るといいと思います。じっくり雰囲気を味わってきましょう。</td></tr>  
  </table>
</div> 

<h2>なぜこんなことをするのかというとやる気を維持させるためと物欲を刺激するためです。平凡な今までの世界よりワンランク上の世界を体験し成功を身近に感じましょう。このサイトからの報酬でできる範囲なのですぐに行動に移してみましょう。</h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  