<% @title = 'やりたいことが無い人へ' %>
<h1><%= @title %></h1>

<tr><th>2通りのやりたいことについて説明します。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">やりたい仕事が無いという人</th></tr>
      <tr><th>視点を変えてみる</th><td>会社に勤める＝仕事と考えてしまうからやりたい仕事がありませんとなってしまう。</td></tr>
      <tr><th>好きなことは何か</th><td>何でもいいんです。食べるのが好き、お酒を飲むのが好き、旅行が好き、釣りが好き、車が好き、バイクが好き、ゲームが好き、音楽が好き、映画が好き、電車が好き、イケメンが好き、スポーツが好き、アウトドアが好き、洋服が好き、お菓子が好き、機械が好き、パソコンが好き、動物が好き、おしゃれが好き、なんかあてはまるものありませんか？実はどれもその分野で仕事をしている人がたくさんいますよ。</td></tr>
      <tr><th>夢中になっていることはなんですか？</th><td>夢中になっていることがあるならそれをやりたい仕事にしてみましょう。</td></tr>
      <tr><th>何でもいいはNG</th><td>何でもいいから成功したい。はダメです。やっていても楽しくないし、疲れるし、飽きてしまいます。成功できません。</td></tr>
      <tr><th>それでも無ければ</th><td>このサイトの報酬を得ることに力を注いだらどうですか？そうしている間にやりたいことが見つかればそちらに向かってみればいいでしょう。どうやるかは自分で決めてください。</td></tr>
  </table>
  
  <table class="attributes">
    <tr><th colspan= "3">やりたいことが無いという人</th></tr>
      <tr><th>やりたいことが無いという人</th><td>「やりたいことが無いんです。」という人がいますが本人がやりたいことに気付いていないだけです。</td></tr>
      <tr><th>自問自答してください。</th><td>好きな芸能人に会いたくないですか？行ってみたい所はありませんか？食べてみたい物はありませんか？美女に囲まれてみたくありませんか？ちやほやされてみたくありませんか？高級車に乗ってみたくありませんか？好きな人と一緒にいたくありませんか？会社を辞めたくありませんか？嫌いな上司を見下したくないですか？海外旅行に行きたくありませんか？お金で不自由なく暮らしたくありませんか？痩せたくないですか？英会話ができるようになりたくないですか？ほら、やりたいことたくさんあるでしょう。</td></tr>
      <tr><th>パワーの源</th><td>このやりたいことがパワーの源になります。すぐにできる訳ではありませんが上で挙げた例のほとんどは収入を上げるだけで実現できてしまう簡単なことです。このサイトの報酬だけでも可能かもしれません。</td></tr>
      <tr><th>なぜやりたいことが必要か？</th><td>やりたいことが無いという人は何が楽しみで働いているのでしょうか？たぶんそんなことも考えたことが無いでしょう。ほとんどの人が当てはまってしまうのではないでしょうか？そんな人は惰性で体力勝負で働いてくれますから経営者の思うつぼです。今日からは目標を達成するために働いてみましょう。目標を達成するための一歩を踏み出しましょう。今のままでは無駄に年取って体力が無くなったときに定年で職を失い貧乏生活が待っています。やりたいことをハッキリさせ今のままで実現できないようであれば変えるべきです。無駄に生きてはいけません！それを自覚する上でやりたいことが必要なのです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_success %>
  </div>
</div>
  