<div class="main">
  <h2>人間が本当に成長するのは、失敗したときだけ</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=TJSIZw0KdR0&t=30s") %>
  <p>明日のお勧め動画は</p>
  <p>贅沢なひとときを・・・</p>
  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>