<div class="main">
  <h2>ANAファーストクラス（後編）</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=-Aupop2o0y0") %>
  <p>明日のおすすめ動画は</p>
  <p>成功者が絶対にしている極端な習慣</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>