<div class="main">
  <h2>死ぬまでに行きたい世界の美しい絶景100選</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=M6CN5jgCPtk") %>
  <p>明日のおすすめ動画は</p>
  <p>空港のラウンジってどうすれば入れるの？</p>

 
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>