<div class="main">
 <h2><%= @usage_fee %> 月分の利用料金の入金はお済みでしょうか？</h2> 
  <h2>金持ち父さん・貧乏父さん</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=pAHyrGILjTI&t=6s") %>
  <p>明日のおすすめ動画は</p>
  <p>あなたの人生は後何日？</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>