<div class="main">
  <h2>綺麗な歌声</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=Yfwlj0gba_k") %>
  <p>明日のおすすめ動画は</p>
  <p>仕事や勉強で苦痛になったときの「棚ぼた論」</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>