<div class="main">
  <h2>こんな所に住んでみたい！</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=4eyj7PKfezQ") %>
  <p>明日のおすすめ動画は</p>
  <p>99％の努力と1％の才能</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>