<div class="main">
  <h2>成功者が絶対にしている極端な習慣</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=KkcyzUFM_6c") %>
  <p>明日のおすすめ動画は</p>
  <p>月に一億稼ぐ23歳</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>