<div class="main">
  <h2>仕事や勉強で苦痛になったときの「棚ぼた論」</h2>
  <p>とくに3：55～重要です。</p>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=7aR73LE6kIQ") %>
  <p>明日のお勧め動画は</p>
  <p>伝説の卒業スピーチ</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>