<div class="main">
  <h2>ANAファーストクラス（前編）</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=ETojlEfwoy4") %>
  <p>明日のおすすめ動画は</p>
  <p>ANAファーストクラス（後編）</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>