<div class="main">
  <h2>あなたの人生は後何日？</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=YWbNlMFzK40") %>
  <p>明日のおすすめ動画は</p>
  <p>ちょっと笑ってください。</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>