<div class="main">
  <h2>どん底からお金持ちに成り上がる人の行動パターン</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=JPUtHX1uik8&t=1033s") %>
  <p>明日のおすすめ動画は</p>
  <p>死ぬまでに行きたい世界の美しい絶景100選</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>