<div class="main">
  <h2>大富豪アニキの教え</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=a7n0mY-_US4&t=37s") %>
  <p>明日のお勧め動画は</p>
  <p>トルコ航空ビジネスクラス</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>