<div class="main">
  <h2>トルコ航空ビジネスクラス</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=OusHNj1gjag") %>
  <p>明日のおすすめ動画は</p>
  <p>綺麗な歌声</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>