<div class="main">
  <h2>冒険に出よう　未熟でも　未完でも</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=dUn0UnezayU") %>
  <p>明日のおすすめ動画は</p>
  <p>億万長者になるためにはある”法則”がある</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>