<div class="main">
  <h2>月に一億稼ぐ23歳</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=IRsv9il908w") %>
  <p>明日のおすすめ動画は</p>
  <p>働き方を考える（アニメ）。</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>