<div class="main">
  <h2>日本最高峰の寿司屋</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=SzokJEHGQbc") %>
  <p>明日のおすすめ動画は</p>
  <p>素晴らしい歌をどうぞ！心に響きます。</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>