<div class="main">
  <h2>億万長者になるためにはある”法則”がある</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=Nh9IQsMB0_k") %>
  <p>明日のおすすめ動画は</p>
  <p>日本最高峰の寿司屋</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>