<div class="main">
  <h2>億万長者➤どん底➤復活</h2>

  <%= link_to('こちらからどうぞ', "https://www.youtube.com/watch?v=rOF4JJbL7rI&t=2424s") %>
  <p>明日のおすすめ動画は</p>
  <p>7割の老人が人生で後悔していること</p>

  
    <div class="links">
      <%= link_to '戻る', :privilege_info_customer_record %>
    </div>
  
</div>