<% @title = '立地・物件の調査' %>
<h1><%= @title %></h1>

<tr><td>どんな場所がいいのか<br>選定基準はいろいろありますがお客様目線で見ることが大切です。家賃が安いというだけで決めるべきではありません。基本的に不便な場所は避けるべきです。住宅密集地なども避けるべきでしょう。</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">立地・物件選択ポイント</th></tr>
    <tr><th>交通アクセスはどうか？</th><td>あなたの店舗を利用する場合公共の交通手段を利用するお客様が多いのか、自家用車が多いのか見極めます。</td></tr>
    <tr><th>駐車場はあるか？</th><td>店舗専用の駐車場はあればベストですが、近くに有料駐車場があるところがいいでしょう。</td></tr>
    <tr><th>競合店との距離</th><td>飲食店と違い競合店は近い方がいいです。お客様が集中するので客数を見込めます。</td></tr>
     <tr><th>居抜き物件を選択</th><td>一から準備する場合、小規模でも1,000万円は必要です。できる限り店舗設備のある物件を探してみましょう。</td></tr>
     <tr><th>人通りはどうか</th><td>人通りのチェックを数日にわたりチェックしましょう。平日、休日前、休日の人通りをチェックをし客層の参考にしましょう。人通りが少なければ厳しい経営となることが予想されます。</td></tr>
    <tr><th>アドバイス</th>
    <td>店舗をどこに構えるかというのは売り上げを左右する最も大きな条件となります。条件のいい場所は家賃が高いので競合店の客数×客単価を参考にして売り上げを予想し、損益分岐点の計算をしてみましょう。自分がどのくらいの売り上げと収入を目標とするのかによって店舗の大きさを決めましょう。目標とする店舗を探して参考にするようにしましょう。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>