<% @title = '陥りやすいポイント' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">勘違いポイント</th></tr>
    <tr><th>自分の事業計画に酔ってしまう</th><td>初期の好調時期が続くと勘違いしてしまう。</td></tr>
    <tr><th>スタッフとの距離感</th><td>スタッフはオーナーと同じ熱量で働いていると思ってしまう。</td></tr>
    <tr><th>書き込みを気にしてしまう</th><td>必ず悪い書き込みはされるものです。気にしないこと！見ないこと！</td></tr>
    <tr><th>成功者になった気になる</th><td>開業が目的になっていませんか？開業してからがスタートですよ。</td></tr>
     <tr><th>売り上げを利益と勘違いしてしまう。</th><td>売り上げを利益と勘違いし無駄な設備投資をしてしまう。</td></tr>
    <tr><th>アドバイス</th>
    <td>風俗店は評判が命です。動く金額も大きいので浮かれないようにしましょう。緊張感を保ち毎日がギャンブルのような気持ちで勝負していきましょう。とにかく最小限のお金で品質を保ちながら運営することが大切です。店側の都合で品質を落としたり、値段を上げたりしてはいけません。つぶれてしまう最も大きな原因です。競合店が近くにできても焦ってはいけません。お客様の視点で運営していれば影響は出ないものです。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>