<% @title = '設備選定・発注' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">設備について</th></tr>
    <tr><th>厨房機器</th><td>ネットなどで検索し中古品でもいいので安価な物にする。下記アドバイスを参考にしてください。新品は不要です。</td></tr>
    <tr><th>ビールジョッキ</th><td>ビールメーカーよりサービスしてもらうこと</td></tr>
    <tr><th>コップ類</th><td>ビールメーカから一部サービスしてもらい後は業者より購入。</td></tr>
    <tr><th>冷蔵ショーケース（グラス用）</th><td>ビールメーカーよりサービスしてもらうこと。</td></tr>
    <tr><th>冷蔵ショーケース</th><td>酒、ワイン等を冷やす冷蔵庫。</td></tr>
    <tr><th>食器類</th><td>１００円ショップで購入してもいいでしょう。</td></tr>
    <tr><th colspan="3">アドバイス（参考にしてください）</th>
    <tr><th>必要設備</th><td>冷蔵庫、冷凍庫、製氷機、ガステーブル、調理テーブル、シンク、冷凍ストッカー、冷蔵ショーケース</td></tr>
    <tr><th>空調設備</th><td>空調設備はお店の居心地にかかわるものですからてを抜かずにチェックしましょう。</td></tr>
    <tr><th colspan="3">後で設備を追加しなくてもいいようにスタート時に全てそろえるようにしましょう。</th></tr>
  </table>
</div>
  
  <h2><strong>業者が頻繁に売り込みに来るので口車に乗らないように！！</strong></h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>