<% @title = '開業資金調達方法' %>
<h1><%= @title %></h1>

 <tr><th>風俗店を開業にするに当たり最初に悩むのが資金の調達方法でしょう。風俗店の開業に関しては金融機関はお金を貸してくれません。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    
    <tr><th>アドバイス</th><td>銀行にいくら説明に行っても風俗店の開店資金は貸してくれません。しかし、窓口では興味本位でいろいろ聞いてくる担当者もいますので時間の無駄となります。ただし、3年ほど黒字を出していれば融資対象として扱ってくれるので3年は歯を食いしばって頑張りましょう。結論から言うと居抜き案件を借りて設備をそのまま使うようにすれば少額で開店できる訳です。</td></tr>
  </table>
</div>  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>