<% @title = '人材の採用・面接' %>
<h1><%= @title %></h1>

<tr><td>お店の印象を大きく左右する最重要ポイントです。スタッフが商品と言ってもいいくらいです。お店のコンセプトに合う人を採用しましょう。</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">採用・面接について</th></tr>
    <tr><th>接客担当</th><td>明るい人、ハキハキしている人、目配りのできる人、良く気がつく人。</td></tr>
    <tr><th>カウンタ－担当</th><td>ある程度年齢が上の方がいい。話が上手な人。面白い人。</td></tr>
    <tr><th>会計</th><td>トラブル回避のため会計はオーナー自身がやりましょう。</td></tr>
    <tr><th>清掃</th><td>閉店後の清掃の仕上げは最初はオーナーがやりましょう。行き届いていない点を把握するためです。</td></tr>
    <tr><th>給料支払い</th><td>給料日は月末にすること。</td></tr>
    <tr><th>アドバイス</th>
    <td>採用のポイントを書きましたが全て持っている人はまずいません。面接の時は自分を良く見せようと頑張ってくるので本質を見抜くのはなかなか難しいのですが、お客さんの評価は第一印象なのでやはり第一印象のいい人がいいでしょう。派閥を作るような人は絶対に避けましょう。何かの理由で店をやめるとき、派閥全員を引き連れてやめてしまう恐れがあります。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>