<% @title = '内外装の設計・見積もり' %>
<h1><%= @title %></h1>

<tr><td>理想の内装、外装にすることを考えてはいけません。外装は看板の設置、色合いの変更（再塗装）程度にしておきましょう。内装についても壁紙の張り替えくらいで済ませれば大丈夫でしょう。</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">内装・外装について</th></tr>
    <tr><th>外装</th><td>あまり凝った外装にせず、どんな店舗なのかわかるようにシンプルな外装にしましょう。</td></tr>
    <tr><th>内装</th><td>お客様に清潔感を感じさせるように工夫しましょう。創業時は壁紙を貼り替える程度でいいと思います。</td></tr>
    <tr><th>照明</th><td>LED証明に切り換え節電を心がけましょう。照明の明るさは風営法で決められていますので従うようにしましょう。</td></tr>
    <tr><th>厨房</th><td>簡単な調理、お湯を沸かす程度の設備で充分です。</td></tr>
    <tr><th>カウンター</th><td>居抜き案件ですでに設置していればそのまま使用しましょう。新規に設置する場合は安く設置できるように業者と相談しましょう。</td></tr>
    <tr><th>椅子・テーブル</th><td>居抜き案件で設置しているのであればなるべくそれを使いましょう。汚れがひどい場合は家賃を値引きしてもらい清掃するなど工夫して使用するようにしましょう。</td></tr>
    <tr><th>アドバイス</th>
    <td>まずお客様に不潔感を与えないようにすることです。風俗店は接客サービスで勝負です。飲食店とはお客様の求めている物が違うことを理解し、とにかく創業初期は現金を手元に確保しておくことを心がけましょう。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>