<% @title = '風俗営業許可申請' %>
<h1><%= @title %></h1>

<tr><th>風俗営業許可にはいろいろ種類があります。警察署の生活安全課で該当する許可の種類を確認できるのであらかじめ確認を取るようにしましょう。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">必要資格</th></tr>
    <tr><th>税務署</th><td>風俗営業許可申請（￥18,300円）</td></tr>
    <tr><th>警察署</th><td>風俗営業許可申請（￥27,000円）</td></tr>
    <tr><th>アドバイス</th><td>警察署の許可が降りるまで1～2ヶ月かかります。許可が下りた後、県庁に提出する書類もありますので指示に従いましょう。深夜営業については各都道府県条例でそれぞれ違いがあるようです。警察署で確認しておきましょう。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>