<% @title = '都道府県助成金制度' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">助成金制度について</th></tr>
    <tr><th>実施場所</th><td>風俗営業に対しての助成金制度はありません。</td></tr>
    <tr><th>アドバイス</th>
    <td>まだまだ風俗営業に関して世間様は冷たいものです。自力で頑張るしかありません。その分入ってくるお金も大きい商売です。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>