<% @title = '業者の選定について' %>
<h1><%= @title %></h1>

<tr><td>内外装業者・酒類販売業者・食材仕入れ業者の選定方法</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">業者の選定について</th></tr>
    <tr><th>支払い</th><td>なるべく1ヶ月遅れの支払いに応じてくれる業者にしましょう。</td></tr>
    <tr><th>内外装業者</th><td>開店スケジュールに沿った作業をしてくれるところ。低価格で請け負ってくれるところを選定しましょう。店内のレイアウト図も必ず作成してもらいましょう。</td></tr>
    <tr><th>酒類販売業者</th><td>店舗への配達面で融通の利く業者を選定しましょう。</td></tr>
    <tr><th>清掃業者</th><td>ダスキン。マットなどをレンタル契約する。</td></tr>
    <tr><th>おしぼり</th><td>自分で毎日洗濯する。</td></tr>
    <tr><th>クレジットカード</th><td>業者が勝手に営業に来ます。(設置は無料です。）</td></tr>
    <tr><th>ガス・水道・電気</th><td>地元で各自契約します。</td></tr>
    <tr><th>アドバイス</th>
    <td>店舗のレイアウト図は保健所、警察署、消防署への届け出時に必要なので必ず準備してもらいましょう。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_custom %>
  </div>
</div>