<%= @user.family_name + @user.given_name %>さま
<hr />
<p>いつもサイトをご利用いただきありがとうございます。<br><%= @day %>日現在、報酬受け取り用の口座登録がお済みでないようです。<br>口座の登録情報の確認が取れないとせっかくの報酬を受け取ることができません。<br>お早めに登録のほどよろしくお願いします。</p>
<ul>
  <h2>※　報酬受け取り用の口座とは</h2>
  <h4>キャッシュバック、ボーナスを報酬としてサイトより<br>お振り込みさせていただく口座です。</h4>
</ul>

<p>ご協力のほどよろしくお願い申し上げます。</p>

<P>口座情報を登録するには<%= link_to 'こちら', 'https://wonder-gate.com/visitor/rule/welcome' %>からログインを行い<br>「入金口座登録画面」へ進み、口座情報を登録してください。</P>