<h2>入金が完了していても「退会しています。」と表示された場合</h2>
<h2>新規に登録された会員の方は利用料金の振込みの確認が取れ次第、ログイン可能となります。</h2>
<h2>月末に入金が集中し混雑しており<strong>退会しています。</strong>と表示されている場合があります。今後、このような事態を防止するためにお早めに利用料金を入金していただくようお願いします。また、この状態でも新規会員はサイトへ支障なく登録されるので通常通り拡散していただいても結構です。ご迷惑をおかけしますが協力のほど宜しくお願いします。事務処理完了後、ログイン可能となりますので少々時間をいただくことになります。</h2>
<h2><li><strong>再度会員登録する際は規約により退会後3ヶ月間は再登録できませんので、退会月より3ヶ月経過した後、新規会員登録していただくようお願いします。</strong></li></h2>

<h2><li><%= link_to '利用料金振り込み口座', :account_visitor_rule %></li></h2>
<div class="table-wrapper">
  <div class="links">
    <%= link_to 'ログイン画面へ戻る', :customer_login %>
  </div>
</div>