<%= f.fields_for :staff_year, f.object.staff_year do |ff| %>
  <%= markup do |m|
    p = confirming ? ConfirmingStaffYearFormPresenter.new(ff, self) : StaffYearFormPresenter.new(ff, self)
    p.with_options(required: true) do |q|
      m << q.drop_down_list_block(:year_check, '年', StaffYear::RETRIEVAL_YEAR)
    end
  end %>
<ol>
  <li>「検索」ボタンで顧客一覧画面に移動します。</li>
  <li>顧客一覧表示画面の「詳細」ボタンで検索年の成績が表示されます。</li>
</ol>
<% end %>