<% @title = 'サイト利用料金用振り込み口座' %>
<h1><%= @title %></h1>
<ol>
  <h2><li>新規会員登録後の<strong>初回に限り</strong>利用料金の入金が確認された日を登録完了月とします。<br>例えば7月に会員登録し8月に入金確認がとれた場合8月に会員登録したことになります。<br>新規会員が初回分の入金をされた場合にご自身のグループメンバーとして登録されます。</li></h2>
  <h2><li><strong>初回登録月のみ翌月利用料金分と併せて￥2,000となります。</strong></li></h2>
  <h2><li><strong>次月以降は翌月利用料金分として￥1,000となります。</strong></li></h2>
  <h2><li>毎月の振り込みが面倒な方は6ヶ月分（￥6,000）まで先行での入金を受け付けております。</li></h2>
  <h2><li>毎月25日以降の入金については事務処理都合上、一時的に退会扱いとなる場合がありますのでお早めに入金していただくようお願いします。</li></h2>
</ol>

  <ul>
  <h2>銀行名：ジャパンネット銀行</h2>
  <h2>支店名:  ビジネス営業部</h2>
  <h2>預金種目: 普通</h2>
  <h2>口座番号：1 7 4 8 3 8 3</h2>
  <h2>口座名：WONDER GATE<br>　　　　ワンダーゲート</h2>
  
    <h3>振込み人氏名は<br><strong><%= @customer.family_name_kana + @customer.given_name_kana + @customer.nickname %></strong>で<br>振り込んでください。</h3>(アルファベットは大文字で！)
  </ul>

  <ul>
    <h2><strong>※-　重要　-※</strong></h2>
    <h3>＊振込みの際には本人確認のため、<br><strong>本人氏名の後にニックネーム</strong>を必ず記入してください。</h3>
  <h3>例（ご自身の登録ニックネームがモモタロウの場合）</h3>
    <ul>
      <li><strong>サトウイチロウモモタロウ</strong></li>
    </ul>
  <h3>例（ご自身の登録ニックネームがkintaroの場合）</h3>
    <ul>
      <li><strong>サトウイチロウＫＩＮＴＡＲＯ</strong></li>
    </ul>
    <h3>ニックネームの記入が無く同姓同名の会員がいた場合、<br>本人確認ができなく<strong>退会扱い</strong>となる場合があります。<br>十分注意願います。</h3>
  </ul>


<div class="table-wrapper">
  
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>