<% @title = 'ボーナスのシステム説明' %>
<h1><%= @title %></h1>

<h2>ボーナスとは？</h2>
<ol>
  <li>クオーターごとの獲得ptによりタイトルを獲得し報酬を支払うことを言います。</li>
    <ul>
      <li>クオーターとは</li>
        <p>1月、２月、３月の合計が1クオーター</p>
        <p>4月、５月、６月の合計が2クオーター</p>
        <p>7月、８月、９月の合計が3クオーター</p>
        <p>10月、１１月、１２月の合計が4クオーター</p>
    </ul>
  <li>ボーナスタイトル名と計算方法</li>
    <ul>
      <li><strong>タイトル名：ノーマル</strong></li>
        <p>クオーター内の自分のptが5000pt～19999pt</p>
        <p>計算方法：クオーターに在籍した総人数＊15pt</p>
      <li><strong>タイトル名：ベーシック</strong></li>
        <p>クオーター内の自分のptが20000pt</p>
        <p>計算方法：クオーターに在籍した総人数＊13pt</p>
      <li><strong>タイトル名：クリスタルベーシック</strong></li>
        <p>自身が5000pt以上（ノーマルボーナス）を獲得していること。</p>
        <p>クオーター内にベーシック獲得列が3～4列あること</p>
        <p>計算方法：クオーターに在籍した総人数＊12pt</p>
      <li><strong>タイトル名：シルバーベーシック</strong></li>
        <p>自身が5000pt以上（ノーマルボーナス）を獲得していること。</p>
        <p>クオーター内にベーシック獲得列が5～6列あること</p>
        <p>計算方法：クオーターに在籍した総人数＊11pt</p>
      <li><strong>タイトル名：ゴールドベーシック</strong></li>
        <p>自身が5000pt以上（ノーマルボーナス）を獲得していること。</p>
        <p>クオーター内にベーシック獲得列が7～8列あること</p>
        <p>計算方法：クオーターに在籍した総人数＊10pt</p>
      <li><strong>タイトル名：プラチナベーシック</strong></li>
        <p>自身が5000pt以上（ノーマルボーナス）を獲得していること。</p>
        <p>クオーター内にベーシック獲得列が9列以上あること</p>
        <p>計算方法：クオーターに在籍した総人数＊9pt</p>
    </ul>
  <li>上位のタイトルが優先されます。</li>
    <ul>
      <li>例えばクリスタルを獲得したらベーシックではなくなります。</li>
    </ul>
  <li>ボーナスは振込み事務手数料を差し引いた額を翌月末までに会員の口座へ振り込みいたします。</li>
  <li>ボーナスが発生した場合の報酬はキャッシュバック　＋　ボーナスとなります。</li>
</ol>

<h2><strong>ボーナス額は会員専用ページで確認できます。自分で計算する必要はありません。</strong></h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'ボーナス説明画面へ戻る', :bonus_a_customer_rule %>
  </div>
</div>