<% @title = '権利の失効' %>
<h1><%= @title %></h1>

<table class="#">
  <h2>権利の失効</h2>
  <ol>
    <p>この権利の失効とはサイトからの退会という意味になります。</p>
  </ol>
  
  <ol>
    <p><li>利用規約に違反のあった場合、ユーザーに違反の旨を通知し強制的に退会扱いといたます。</li></p>
    <p><li>月末までに翌月のサイト利用料金の入金が確認できない場合、退会の意思表示と解釈し退会扱いといたします。</li></p>
  </ol>  
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>