<% @title = 'ネズミ講(違法）との違いについて' %>
<h1><%= @title %></h1>

  <p>ネズミ講のシステムの違法性について
  <%= image_tag("mouse1.png", size: "60*60", alt: "ネズミ講(違法）との違い", align: "top") %></p>
  <p>
  <%= image_tag("mouse2.png", size: "60*60", alt: "ネズミ講(違法）との違い", align: "top") %></p>
  <h2>合法的な商法について</h2>
    <P>誤解されている方も多いのですがマルチ商法は１つの仕組みであって、普通の会社組織と同じです。（社長がいて、部長、課長、係長、主任、一般社員の系列を図に書いてみるとわかります。）むしろ会社組織の方がネズミ講に近い組織運営になっています。</P>
    <P>合法的な商法は商品・サービス提供の売り上げから会社が成り立ち、売り上げの数パーセントをビジネス活動者に報酬として支払います。</P>
    <P>それに対してネズミ講は商品・サービスが存在しません。もしくは不当に高額な商品を新規に購入する者を増やし続けないと報酬が得られない仕組みです。なので、会社には定期的な売り上げが存在せず、虚偽情報やノルマを発生させたり在庫を強要したりして売り上げを確保していくため、連鎖的（芋づる式）に被害者が出てしまうのです。</P>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to 'よくある質問へ戻る', :question_customer_rule %>
  </div>
</div>