<% @title = '会員特典情報とは？' %>
<h1><%= @title %></h1>

  <h2>会員特典情報について</h2>
    <p>サイト側から発信する会員限定の情報のことを言います。サイトからの一方的な情報となりますので、内容の有益生には個人差があると思われます。主な内容は以下になります。</p>
    <ul>
      <p><li>サイトが主催するイベントの詳細情報。</li></p>
      <p><li>サイトニュース</li></p>
      <p><li>新しいサービスの内容など</li></p>
      <p><li>その他</li></p>
    </ul>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'よくある質問へ移動', :question_customer_rule %>
  </div>
  
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>