<% @title = '口座情報を登録してください' %>
<h1><strong><%= @title %></strong></h1>

<h2>個人成績表、会員特典情報の閲覧は口座アカウントの登録が必要です。</h2>
<h2><strong>キャッシュバック、ボーナスは登録していただいた口座へ振り込まれます。</strong></h2>
<h2>犯罪防止のためユーザー様本人名義以外の口座は受付できません。間違いのないように必ずユーザー様名義の口座を登録してください。</h2>
<h2><li><%= link_to '報酬受け取り用の口座登録', :edit_customer_bank %>（間違いのないように正確に入力してください。）</li></h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップ画面へ戻る', :customer_root %>
  </div>
</div>