<% @title = 'キャッシュバックのシステム説明' %>
<h1><%= @title %></h1>

<h2>最後までお読みください。</h2>
<h2>キャッシュバックとは？</h2>
<ol>
  <li>会員様によるサイトの拡散実績を月ごとにポイント換算し会員へ報酬を支払うことを言います。</li>
    <ul>
      <li>1ptを￥1に換算します。</li>
    </ul>
  <li><strong>月々のサイト利用料金をお支払いいただくことが受け取り条件となります。</strong></li>
  <li>pt（ポイント）の獲得方法・計算方法</li>
    <ul>
      <li>会員自身の紹介者の人数により獲得ポイントが変動していきます。</li>
      <li><strong>紹介者が1人の場合、拡散実績として50ptを獲得します。（有効列数１列、有効段数1段となります。）</strong></li>
      <li><strong>紹介者が2人の場合、拡散実績として50pt*2人で100ptを獲得します。（有効列数２列、有効段数2段となります。）</strong></li>
        <ol>
          <li>さらに有効段数が2段になり１段目の会員の拡散人数＊40ptが加算されます。</li>
        </ol>
      <li><strong>紹介者が3人の場合、拡散実績として50pt*3人で150ptを獲得します。（有効列数3列、有効段数3段となります。）</strong></li>
        <ol>
          <li>さらに2段目の拡散人数＊40ptが加算されます。</li>
          <li>さらに有効段数が3段のため２段目の会員の拡散人数＊30ptが加算されます。</li>
        </ol>
      <li><strong>紹介者が4人の場合、拡散実績として50pt*4人で200ptを獲得します。（有効列数４列、有効段数4段となります。）</strong></li>
        <ol>
          <li>さらに2段目の拡散人数＊40ptが加算されます。</li>
          <li>さらに3段目の拡散人数＊30ptが加算されます。</li>
          <li>さらに有効段数が4段のため3段目の会員の拡散人数＊20ptが加算されます。</p>
        </ol>
      <li><strong>紹介者が5人の場合、拡散実績として50pt*5人で250ptを獲得します。（有効列数５列、有効段数5段となります。）</strong></li>
        <ol>
          <li>さらに2段目の拡散人数＊40ptが加算されます。</li>
          <li>さらに3段目の拡散人数＊30ptが加算されます。</li>
          <li>さらに4段目の拡散人数＊20ptが加算されます。</li>
          <li>さらに有効段数が5段のため4段目の会員の拡散人数＊10ptが加算されます。</li>
        </ol>
      <li><strong>紹介者が6人の場合、拡散実績として50pt*6人で300ptを獲得します。（有効列数６列、有効段数6段となります。）</strong></li>
        <ol>
          <li>さらに2段目の拡散人数＊40ptが加算されます。</li>
          <li>さらに3段目の拡散人数＊30ptが加算されます。</li>
          <li>さらに4段目の拡散人数＊20ptが加算されます。</li>
          <li>さらに5段目の拡散人数＊10ptが加算されます。</li>
          <li>さらに有効段数が6段のため5段目の会員の拡散人数＊5ptが加算されます。</li>
        </ol>
      <li><strong>紹介者が7人以上の場合、拡散実績として50pt*6人で350ptを獲得します。（有効列数7列、有効段数が段となります。）</strong></li>
        <ol>
          <li>さらに2段目の拡散人数＊40ptが加算されます。</li>
          <li>さらに3段目の拡散人数＊30ptが加算されます。</li>
          <li>さらに4段目の拡散人数＊20ptが加算されます。</li>
          <li>さらに5段目の拡散人数＊10ptが加算されます。</li>
          <li>さらに6段目の拡散人数＊5ptが加算されます。</li>
          <li>さらに有効段数が7段のため6段目の会員の拡散人数＊3ptが加算されます。</li>
        </ol>
      <li><strong>紹介者の人数が７人以上になっても７段目までのptの集計となります。</strong></li>
    </ul>
  <li>紹介者が退会した場合（１段目に退会者が出てしまった場合）</li>
    <ul>
      <li>退会者の列の７段目までに会員が在籍していれば有効列となりますが退会者のptは加算されません。</li>
    </ul>
  <li>キャッシュバックは振込み事務手数料（￥700）を超えた場合に会員の口座へ翌々月末までに振り込みいたします。</li>
    <ul>
      <li><strong>初回登録月に限りwelcomeポイント700ptをプレゼントします。（振込み事務手数料￥700円分）<br>従って登録月に限り拡散した会員登録が1人からキャッシュバックを受け取ることができます。<br>この700ptはボーナスポイントには加算されません。</strong></li>
    </ul>
  <li>キャッシュバック額が月額利用料金（￥1000）+ 振込み事務手数料（￥700）を超えた場合。</li>
    <ul>
      <li>翌々月のサイト利用料金は差し引きさせていただきます。翌々月の利用料金は入金していただかなくてもOKです。</li>
    </ul>
</ol>
<h2><strong>キャッシュバック額は会員専用ページで確認できます。自分で計算する必要はありません。</strong></h2>

<h2>例えば７段目までの会員が全て７人に拡散し利用を継続した場合の<br>キャッシュバック獲得額は<strong>月額￥3,287,564</strong>となります。</h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'キャッシュバック説明画面へ戻る', :cache_visitor_rule %>
  </div>
</div>
