<% @title = 'サイト説明詳細ガイド' %>
<h1><%= @title %></h1>

<ul class="menu">
  <h2>なぜこのサイトを開設したか？設立理由</h2>
  <p>将来に不安があるがお金がなく脱サラもできない、起業も出来ない、収入も月々の生活をなんとか出来る程度という悲惨な状況から、現在の仕事を続けながら開始ハードルの低い副業で、もしかしたら収入を多く得られ脱サラ、起業ができる機会を提供するようなサイトがあれば面白いと思い開設いたしました。</p>
  <h2>最初に自分のPCかケータイとお客様のPCかケータイの２台でサイトにアクセスしお客様の方で会員登録ページを開き各ページを開きながら説明を進めてください。</h2>
  <h2><strong>このサイトは特定商取引法、電子契約法、無限連鎖講防止法に基づき運営しております。</strong></h2>
  <h2><strong>サイト運営側から物品の購入や他の組織への勧誘及び金銭を強要することはありません！サイト名を語ってそのような要求があった場合は無視してください。</strong></h2>
  <h2><strong>Wonder-Gateからお送りしているメールには添付ファイルはありません。添付ファイルは絶対に開かず、削除いただきますようお願いいたします。</strong></h2>
  <h2>会員になるメリットは？</h2>
  <ol>
  <li>会員しか閲覧できない情報が得られます。</li>
    <ul>
      <li>飲食店、風俗営業店などを例に開業までのスケジュール、手順、手続き、資金調達方法、助成金の申請方法、立地場所の選択、など誰でもできるように説明しています。</li>
      <li>日替わりでおすすめの動画が閲覧できます。（主に自己啓発動画です。）</li>
      <li>サイトからの配信動画が閲覧できます。</li>
      <li>逮捕された後はどういう流れで進んで行くのかなどの普通の人では知り得ないレア情報</li>
      <li>おすすめのYouTuber、英会話、ミュージシャンなどの紹介</li>
      <li>情報は随時追加されていきます。</li>
    </ul>
    
  <li>副業として報酬を得ることも出来ます。（詳細は後ほど説明）</li>
    <ul>
      <li>キャッシュバック制度,ボーナス制度、特典ボーナス制度の３つで報酬が得られます。（副業としてとらえるかは自由です。）</li>
    </ul>
    
  <li>利用料金について</li>
    <ul>
      <li>登録初月のみ￥2,000で翌月からは￥1,000のみでサイトを利用し続けることが出来ます。初月の￥2,000は登録月と翌月の利用分です。</li>
      <li>登録月に限り￥700（振込み事務手数料分）をサイトよりプレゼントさせていただきます。それにより登録月に限り１人へ拡散した時点でキャッシュバックが発生いたします。</li>
      <li>月額利用料金を振り込む際には自分の氏名の後にニックネーム（登録時に設定します。）を続けてください。本人確認が出来なく退会扱いとなる場合があります。</li>
      <li>月額の利用料金￥1,000はキャッシュバック額が￥1,000+振込事務手数料を超えた場合、翌々月の利用料金は自動的に相殺いたしますのでその場合は利用料金の振込みは不要になります。利用料金の入金状況については会員ページで確認出来ます。</li>
      <li>なぜ振込みなのか？・・・万が一退会する場合,会員の手続きを省くためです。（詳細は後ほど説明）</li>
      <li>入金の確認がとれましたらメールにてお知らせいたします。</li>
    </ul>
    
  <li>利用規約等について</li>
    <ul>
      <li>利用規約等についての詳細は<styrong>＜新規登録ページ＞</styrong>の１～10を閲覧ください。</li>
      <li>会員登録と同時に利用規約に同意したものとみなします。</li>
    </ul>
    
  <li>キャッシュバックについて</li>
    <ul>
      <li>キャッシュバックとはこのサイトを拡散していただいたお礼としてサイトより翌々月に支払われる報酬です。詳細は<strong>＜キャッシュバックとは？＞</strong>を開き確認してください。</li>
      <li>キャッシュバック額が￥700を超えますとキャッシュバックとして会員自身の口座へ翌々月末までにお振り込みいたします。キャッシュバック額が￥1,000+振込事務手数料を超えますと翌々月のサイトの利用料金を相殺させていただきます。利用料金の入金状況については会員ページで確認出来ます。</li>
      <li>キャッシュバック成績は会員ページで閲覧出来ます。</li>
    </ul>
    
  <li>ボーナスについて</li>
    <ul>
      <li>ボーナスは3ヶ月間の成績に応じ年4回支払われる報酬です。詳細は<strong>＜ボーナスとは？＞</strong>を開き確認してください。</li>
      <li>成績の集計は1月～3月、4月～6月、7月～9月、10月～12月の年間計4回となります。</li>
      <li>支払いは最終集計月の翌月末に会員の登録口座へお振り込みさせていただきます。</li>
      <li>ボーナスの成績は会員ページで閲覧出来ます。</li>
    </ul>
    
  <li>特典ボーナスについて</li>
    <ul>
      <li>特典ボーナスは1年間の成績に応じてサイトよりイベントへの招待、旅行券がプレゼントされる報酬です。詳細は<strong>＜特典ボーナスとは？＞</strong>を開き確認してください。</li>
      <li>成績の集計は1月～12月までとなります。</li>
      <li>特典ボーナスの成績は1月になりますと会員ページで閲覧出来ます。</li>
    </ul>
    
  <li>退会について・現金の振込み理由</li>
    <ul>
      <li>何らかの理由で退会する場合の退会手続きは不要です。翌月の利用料金を振込みしなければ自動的に退会となります。</li>
      <li>自動決済方式にした場合、退会時に決済サイトの解約手続きが発生してしまい、翌月も引き落としされてしまい退会したのに利用料金が発生してしまいます。現金の振込み形式により退会が即座にでき、余計な手続き、費用が発生いたしません。</li>
    </ul>
    
  <li>何をすればいいのか？</li>
    <ul>
      <li>情報の閲覧だけで楽しむなら何もする必要はありません。</li>
      <li>副業として進めるならばこのサイトを拡散させて脱サラ、副業の機会を提供していただくだけです。それに対してサイト側からお礼として報酬が支払われます。</li>
    </ul>
    
  <li>各報酬の財源について</li>
    <ul>
      <li>本来なら公表するべきではないのでしょうが、出所をハッキリ明示した方が安心されると思いますので公表します。</li>
      <li>キャッシュバックの財源は月額利用料金の中から￥158を引当てします。</li>
      <li>ボーナスの財源は月額利用料金の中から￥70を引当てします。</li>
      <li>特典ボーナスの財源は月額利用料金の中から￥100を引当てします。</li>
      <li>一人一人の会費の中から計￥328分を拡散実績に応じて会員に分配・返却するシステムを取り入れることにより報酬が発生します。算出方法は各報酬の紹介ページを参照してください。</li>
    </ul>
    
  <li>新規登録画面の説明</li>
    <ul>
      <li>会員登録ページへ進み<strong>＜新規登録＞</strong>をクリックし入力フォームを表示してください。</li>
      <li><strong>一番上の紹介者のニックネーム欄</strong>にあなたのニックネームを紹介者のニックネームとして入力してください。紹介者がいない場合は<strong>SSS</strong>のまま次に進んでください。一度登録するといかなる場合でも後での変更は出来ません。<strong>最も重要です。</strong></li>
      <li>パスワードは忘れないようにメモを残しておいてください。会員ページへのログイン時に必要になります。パスワードは本人以外サイト側でも不明なので忘れた方はサイト側へメールにて希望パスワードの連絡お願いします。パスワードの再登録をいたします。</li>
      <li>ニックネームも忘れないようにメモを残しておいてください。会員ページへのログインと月額利用料金振込みに必要になります。万が一忘れてしまった場合、サイトへ問い合わせしていただければご連絡いたします。</li>
      <li>「自宅住所を入力する」のチェックボックスは外さないようにしてください。自宅住所の登録が出来なくなります。</li>
      <li>登録ボタンをクリックすると利用規約に同意したものとみなします。</li>
      <li>新規に会員登録が完了し￥2,000の入金の確認がとれましたら特定商取引法に基づき契約内容確認書を送付いたしますので大切に保管願います。</li>
      <li><strong>会員登録完了時点でサイトの拡散を初めていただくことが出来るようになりPTは蓄積されていきますが利用料金の確認が取れない場合は無効PTになってしまいますので利用料金は早めにお振り込み願います。</strong></li>
    </ul>
    
  <li>報酬受け取り用の口座登録について</li>
    <ul>
      <li><strong>口座の登録をすることに不安</strong>な方もいると思いますが、口座の情報だけでは、<strong>こちらからお金を振り込むこと以外は出来ません</strong>ので、万が一悪用しようと思っても何も出来ませんので心配無用です。</li>
      <li>サイト側で利用料金の確認が取れると会員ページにログイン出来るようになります。（メールにて連絡させていただきます。）</li>
      <li>会員ページにログインすると<storng>報酬受取用口座登録</storng>リンクが表示されますので必要事項を入力の上登録してください。不正防止のため口座の名義人は自動的に本人氏名となります。会員名と実際の口座名義に違いがある場合は報酬の支払いは行わず報酬自体を抹消させていただくことになるので注意願います。</li>
      <li>口座情報を登録をすると正式に会員と登録され会員情報が閲覧出来るようになります。</li>
    </ul>
    
  <li>最後にキャッシュバック算出例を見てみましょう</li>
    <ul>
      <%= link_to 'キャッシュバックとは？', :cache_visitor_rule %>
    </ul>
  </ol>
</ul>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :dashboard_visitor_rule %>
  </div>
</div>