<% @title = '権利の維持' %>
<h1><%= @title %></h1>

<table class="#">
  <h2>権利の維持</h2>
  <ol>
    <p>この権利の維持とは「翌月のサイト利用料金の振り込みを完了」させることと、利用規約に基づきサイトを利用し続けサイトからの様々な特典を受け取れる権利を継続することをいいます。</p>
  </ol>
  
  <ol>
    <p><li>利用規約に基づきサイトを利用し、翌月のサイト利用料金の振り込みが完了の場合、サイトにおける様々な権利が維持されます。</li></p>
    <p><li>月末までに翌月のサイト利用料金の入金が確認できない場合、いかなる事由によっても権利は維持できなくなるため、十分に注意していたくようお願いします。</li></p>
    <p><li>25日以降の利用料金の振込みについては事務処理の都合上、一時的に退会扱いとなる場合がありますので25日以前に入金していただくようお願いします。</li></p>
  </ol>  
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>