<% @title = '会員特典情報とは？' %>
<h1><%= @title %></h1>

  <h2>会員特典情報について</h2>
    <p>サイト側から発信する会員限定の情報のことを言います。サイトからの一方的な情報となりますので、内容の有益性には個人差があると思われます。主な内容は以下になります。</p>
    <ul>
      <p><li>個人事業の具体的な開始方法。手順。</li></p>
      <p><li>サイトが主催するイベントの詳細情報。</li></p>
      <p><li>サイトニュース</li></p>
      <p><li>新しいサービスの内容など</li></p>
      <p><li>その他</li></p>
    </ul>
    <h2>よくある表面的な情報提供ではなく、どなたでもすぐ行動に移せるような具体的な情報を提供します。</h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'よくある質問へ移動', :question_visitor_rule %>
  </div>
  
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>