<% @title = '特典ボーナスのシステム説明' %>
<h1><%= @title %></h1>

<h2>特典ボーナスとは？</h2>
<ol>
  <li>特典ボーナスは１年間のボーナスタイトルの獲得数により決まり、パーティーや旅行に招待いたします。</li>
  <li>年間の4クオーターのうち各ボーナスタイトルを２回以上の獲得で得られるタイトルです。</li>
    <ul>
      <li>クオーターとは</li>
        <p>1月、２月、３月の合計が1クオーター</p>
        <p>4月、５月、６月の合計が2クオーター</p>
        <p>7月、８月、９月の合計が3クオーター</p>
        <p>10月、１１月、１２月の合計が4クオーター</p>
    </ul>
  <li>各ボーナスタイトルと特典内容</li>
    <ul>
      <li><strong>タイトル名：　ペガサス</strong></li>
        <p>4クオーター中２回以上ベーシックを獲得</p>
      <li><strong>タイトル名：　フェニックス</strong></li>
        <p>4クオーター中２回以上クリスタルベーシックを獲得</p>
      <li><strong>タイトル名：　クイーン</strong></li>
        <p>4クオーター中２回以上シルバーベーシックを獲得</p>
      <li><strong>タイトル名：　キング</strong></li>
        <p>4クオーター中２回以上ゴールドベーシックを獲得</p>
      <li><strong>タイトル名：　プレジデント</strong></li>
        <p>4クオーター中２回以上プラチナベーシックを獲得</p>
    </ul>
  <li>特典ボーナスの受け取り時期</li>
    <ul>
      <li>パーティーは翌年の３月に行いペアでご招待します。</li>
      <li>パーティーの時期、場所等についてはサイト内で発表します。</li>
      <li>旅行券の送付は翌年1月末までに送付いたします。</li>
    </ul>
  <li>年をまたいでのボーナスタイトル獲得回数は無効です。あくまで年内の獲得回数です。</li>
</ol>

<h2><strong>特典ボーナスタイトルは会員専用ページで確認できます。自分で計算する必要はありません。</strong></h2>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '特典ボーナス説明画面へ戻る', :privilege_bonus_visitor_rule %>
  </div>
</div>