<% @title = '退会方法' %>
<h1><%= @title %></h1>

<table class="#">
  <h2>退会の手続き</h2>
  <ol>
    <p><li>退会にあたっての手続きは不要です。退会の意思がある場合、サイトの月額利用料金の入金を行わないでください。</li></p>
    <p><li>サイトの月額利用料金の入金が確認できない場合、当社にて自動的に退会扱いとさせていただきます。</li></p>
    <p>(1) 退会以前に発生したキャッシュバックについては退会者が登録されていた口座に当社規定に基づき入金させていただきます。</p>
    <p>(2) ボーナスの受け取りおよびボーナス特典、その他サービスについては退会と同時に権利は失効いたします。</p>
    <p>(3) 一度、退会扱いとなった場合、いかなる事由においても同じ立場（紹介系列の位置）への復帰はできませんので<strong>サイト利用料金の入金忘れの無きように注意してください。</strong></p>
    <P>(4) 退会者の個人情報は退会者へのキャッシュバックの振り込みと同時に削除させていただきます。</P>
    <P>(5) サイトの利用料金については退会に当たっての返金はいたしません。</P>
    <p><li>退会者が再度新規の登録をする場合は、退会月より3ヶ月の期間を設けるものとします。</li></p>
  </ol>  
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'よくある質問へ移動', :question_visitor_rule %>
  </div>
  <div class="links">
    <%= link_to '新規登録画面へ戻る', :dashboard_visitor_rule %>
  </div>
</div>