WONDER GATE　会員さま
<hr />
<p>ワンダーゲート運営局です。</p>
<p>いつもサイトをご利用いただきありがとうございます。<br>サイト会員特典情報が追加されました。</p>

<p>是非、一度ご覧ください。</p>

<p>詳しくはサイトへログインしていただきご確認のほどお願いします。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com' %>からログインを行ってください。</P>