<%= @user.family_name + @user.given_name %>さま
<hr />
<p>いつもサイトをご利用いただきありがとうございます。<br><%= @day %>日現在、来月のサイト利用料金の確認がとれておりません。<br>ご利用を継続される場合はお早めにお振り込みお願いします。</p>
<p>お振り込みは下記にてお願いします。</p>
<p><h3><strong>翌月利用料金：　￥1,000</strong></h3></p>

<ul>
<li>銀行名　：　ジャパンネット銀行</li>
<li>支店名　：　ビジネス営業部</li>
<li>預金項目：　普通預金</li>
<li>口座番号：　1 7 4 8 3 8 3</li>
<li>口座名義：　WONDER GATE</li>
</ul>

<P><h3>振込み人の氏名は本人確認のため下記のように氏名+ニックネームでお願いします。</h3></P>
<ul>
  <li><strong>振込み依頼人氏名：　<%= @user.family_name + @user.given_name + @user.nickname %></strong></li>
</ul>
<p>上記のように氏名の後にニックネームをつけてください。</p>

<P><h2>毎月の振り込みが面倒という方は6ヶ月分（￥6,000）までは<br>先行での入金を受け付けております。</h2></P>

<p>今月内に来月の利用料金の確認がとれない場合は退会扱いとなり、<br>復活ができなくなりますのでお早めにお振り込みお願いします。</p> 
<P>翌月に入金されても登録済み会員とはなりませんし振込み手数料（￥700）を<br>
  差し引いた￥300の返金しか行われません。ご注意願います。。</P>
<p>25日以降に振込みされた方については事務処理の都合上、<br>一時的に退会者扱いとなってしまう場合もございます。</p>
<p>ご協力のほどよろしくお願い申し上げます。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com/visitor/rule/welcome' %>からログインを行ってください。</P>