<%= @user.family_name + @user.given_name %>さま
<hr />
<p>いつもサイトをご利用いただきありがとうございます。<br>登録されています口座情報に誤りがあります。<br>以下の内容を確認願います。<br><%= @user.family_name + @user.given_name %>様名義の口座ですか？<br>銀行名、支店名、口座番号など、登録された内容を確認していただき<br>誤りがあった場合は速やかに修正してください。<br>今月中に修正の確認が取れない場合、規約に基づき今月分の報酬受け取りの<br>権利が消失されます。<br>お手数をお掛けしますが、会員ページで登録内容を確認していただくよう<br>お願いします。

<P>会員ページは<%= link_to 'こちら', 'https://wonder-gate.com/visitor/rule/welcome' %>からログインを行ってください。</P>