<% @title = 'ダッシュボード' %>
<h1><%= @title %></h1>

<ul class="menu">
  <li><%= link_to 'サイトイベント一覧', :customer_programs %></li>
  <li><%= link_to '問い合わせ回答一覧', :customer_messages %></li>
  <li><%= link_to '入金口座登録', :edit_customer_bank %></li>
</ul>