<% @title = 'WELCOMEページ' %>
<h1><%= @title %></h1>

<ul class="menu">
  <h2><strong>下のログインをクリックしログインしてください。</strong></h2>
  <%=
    if current_customer
      link_to 'ログアウト', :customer_session, method: :delete
    else
      link_to 'ログイン', :customer_login
    end
  %>
  <h2>会員登録～サイト利用開始まで</h2>
  <ol>
  <li>新規会員登録をします。</li>
    <ul>
      <li>登録完了時点でサイトの拡散ができるようになります。</li>
    </ul>
  <li>利用料金（初回のみ￥2,000・次回からは￥1,000）を振り込みします。</li>
    <ul>
      <li>正式に会員となり報酬を受け取る権利が発生します。</li>
      <h2><li><%= link_to '利用料金振り込み用口座', :account_visitor_rule %>（こちらへ振込みお願いします。）</li></h2>
    </ul>
  <li>毎月の振り込みが面倒な方は6ヶ月分（￥6,000）まで先行での入金を受け付けております。</li>
  <li>利用料金の確認がとれましたらログイン可能となります。</li>
  <li>報酬受取り用口座の登録をします。</li>
    <ul>
      <li>現在のページよりログインし報酬受取り用口座の登録ページに進み<br>報酬受取り用口座を登録します。</li>
    </ul>
  <li>報酬受け取り用口座の登録が完了したら、全てのページが閲覧できるようになります。</li>
  </ol>
  <h2>利用料金のお振り込みがお済みの会員様</h2>
  <ul>
    <li> <strong>画面上のログインをクリックしログインしてください。</strong></li>
  </ul>
  
  <h2><strong>※　最重要　※</strong></h2>
  <h2>サイトの拡散手続きについて</h2>
  <ul>
  <li><strong>あなたがサイトを紹介し新規会員登録をしていただく際に<br>
    「サイトを紹介してくれた紹介者のニックネーム」欄に<br>あなたのニックネームを入力してもらいます。<br>そうすることにより、あなたが拡散した実績となります。</strong></li>
  </ul>
</ul>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '初期画面へ戻る', :welcome_visitor_rule %>
  </div>
</div>