<%= @user.family_name + @user.given_name %>さま
<hr />
<p>この度は、新規会員登録及び月額利用料金のお振り込みありがとうございました。</p>
<p><%= @month %> 月(今月）から利用いただけます。</p>
<p><%= @next_month %> 月のご利用もいただけるようになりました。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com' %>からログインを行ってください。</P>