<%= @user.family_name + @user.given_name %>さま
<hr />
<p>この度は、月額利用料金のお振り込みありがとうございました。</p>
<p><%= @month %> 月のご利用がいただけるようになりました。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com' %>からログインを行ってください。</P>