<% @title = '従業員の採用について' %>
<h1><strong><%= @title %></strong></h1>

<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">スタッフの採用について</th></tr>
    <tr><th>必要人数の把握</th><td>オープン当初は客数が多いものですが徐々に少なくなってくるものです。最初はアルバイト、友人のお手伝い等でこなすのがベストです。</td></tr>
    <tr><th>考え方</th><td>お客様に迷惑がかからない人員配置を競合店を参考にして決めること。</td></tr>
    <tr><th>アドバイス</th>
    <td>オープン当初は自分もスタッフの一員として働いてみること。一緒に働くことにより不具合点が見えてきます。従業員の能力も把握できます。
    従業員の欠点は１回注意して直らなければクビにすること。
    情けをかけると店はつぶれてしまいます。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>