<% @title = '事業計画書の作成' %>
<h1><strong><%= @title %></strong></h1>

<tr><td>事業計画所書ってなに？<br>事業概要、経営方針、事業内容、戦略、財務計画（３～5年）の目標を数値化したものです。</td></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">事業計画書</th></tr>
    <tr><th>事業概要</th><td>誰に・何を・どのように提供するのかを記したものです。</td></tr>
    <tr><th>経営方針</th><td>「お客様の笑顔のために世界一のサービスを提供する」<br>のようにメッセージのようなものがいいでしょう。</td></tr>
    <tr><th>事業内容</th><td>仕事の内容のことです。</td></tr>
    <tr><th>戦略</th><td>短期・長期の目標を達成するための作戦のこと。個人事業の場合この部分が無い場合が多い。これが無いことで頭打ちになってしまう店舗を良く見かけます。</td></tr>
    <tr><th>財務計画</th><td>キャッシュフローのことです。長期にわたりどのようにお金を残していくかの計画表になります。</td></tr>
    <tr><th>アドバイス</th>
    <td>事業計画は時間をかけてじっくり作成しましょう。特に、戦略と財務計画は細かく作成する必要があり、財務計画にいたっては最悪の場合を想定した財務計画と理想とする計画をたてておくことが必要です。楽観的に作ってしまうと絵に描いた餅になってしまいます。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>