<% @title = 'コンセプト設計' %>
<h1><strong><%= @title %></strong></h1>

<tr><td>コンセプトってなに？<br>自分たちが目標とする方向性を指し示すものです。<br>これさえしっかりしていれば商品やサービスがブレることはありません。</td></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">コンセプトとは</th></tr>
    <tr><th>どんなのがいいの？</th><td>スタッフがコンセプトを実現するために何ができるかを考えることができるもの。</td></tr>
    <tr><th>作り方①</th><td>店の魅力を表すキーフレーズのリストアップ。</td></tr>
    <tr><th>作り方②</th><td>必要なキーフレーズだけ残す。</td></tr>
    <tr><th>作り方③</th><td>それらを上手く文章として短くつなげる。</td></tr>
    <tr><th>アドバイス</th>
    <td>聞いた瞬間にイメージが湧くことが大切です。<br>※悪い例<br>「おいしい食事と楽しい時間」<br>どこにでもありそうだしイメージがわきません。<br>※いい例<br>「家庭では味わえないくつろげる空間の提供」<br>くつろげる空間の部分に雰囲気、音楽、清潔感等が含まれています。全てのスタッフがイメージを広げ考えることのできるものがいいです。</td></tr>
  </table>
</div>  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>