<% @title = '競合店の調査' %>
<h1><strong><%= @title %></strong></h1>

<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">競合店の調査ポイント</th></tr>
    <tr><th>同規模店舗</th><td>平日・週末の客数チェック。特に平日のチェック。</td></tr>
    <tr><th>大型店舗</th><td>自分の店より大きい店舗の平日・週末の客数チェック。特に平日のチェック。</td></tr>
    <tr><th>異なるサービス内容の店舗</th><td>違うサービスを提供する店舗が周りにどれくらいあるかチェック。</td></tr>
    <tr><th>駐車場のチェック</th><td>駐車場が近くにあるかチェック。</td></tr>
    <tr><th>価格チェック</th><td>サービスの割に高いか安いかのチェック。</td></tr>
    <tr><th>味のチェック</th><td>飲み物、食べ物の上手い、まずいのチェック。</td></tr>
    <tr><th>提供時間のチェック</th><td>注文してから提供されるまでの時間をチェック。</td></tr>
    <tr><th>清掃状態のチェック</th><td>店内、トイレの清掃状態をチェック。</td></tr>
     <tr><th>スタッフのチェック</th><td>テーブル数に対するスタッフ数のチェック。スタッフの対応のチェック。</td></tr>
    <tr><th>アドバイス</th>
    <td>特に注意しなければいけないのは平日の客数です。ここは客数が伸びる要素が低いため要注意です。異なるサービスの店舗数については多いほど人の動きがあると言うことです。チェック項目の全てにおいてその地区のNo1になれば大繁盛店になるのは間違いなく保証されています。事業をやるからにはそこを目指すべきです。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>