<% @title = '開業資金調達方法' %>
<h1><strong><%= @title %></strong></h1>

 <tr><th>飲食店を開業にするに当たり最初に悩むのが資金の調達方法でしょう。以下を参考にして挑戦してみましょう。ここさえクリアできれば開業できるのです。夢のオーナーになれるのです。本気になればなんとかなりますよ。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">金融機関</th></tr>
    <tr><th>金融機関名</th><td>日本政策金融公庫</td></tr>
    <tr><th>融資制度名</th><td>新創業融資制度</td></tr>
    <tr><th>融資限度額</th><td>3,000万円（うち運転資金1,500万円）</td></tr>
    <tr><th>入金時期</th><td>審査が通れば２週間～１ヶ月で入金。</td></tr>
    <tr><th>融資条件</th><td>新たに事業を始める方または事業開始後で税務申告を２期終えていない方。</td></tr>
    <tr><th>準備金</th><td>事業資金の１０分の１を準備する必要があります。<br>[例]<br>事業資金1,000万円が必要な場合100万円は自分で準備し900万円の借り入れとなります。1,000万円借りたい場合は事業資金を1,120万円とし120万円を自分で準備すればいいわけです。</td></tr>
  </table>
  
  <table class="attributes">
    <tr><th colspan= "3">金融機関</th></tr>
    <tr><th>金融機関名</th><td>各地方銀行のほとんど</td></tr>
    <tr><th>融資制度</th><td>県信用保証協会（簡単に言うと県が保証人となってくれる制度です。）</td></tr>
    <tr><th>融資制度名</th><td>創業融資制度（各銀行で名称は異なります。）</td></tr>
    <tr><th>融資限度額</th><td>各銀行で異なります。（限度は1,500万円程度）</td></tr>
    <tr><th>入金時期</th><td>審査が通れば２週間～１ヶ月で入金。</td></tr>
    <tr><th>融資条件</th><td>新たに事業を始める方または事業開始後で税務申告を<br>２期終えていない方。</td></tr>
    <tr><th>準備金</th><td>事業資金の１０分の１を準備する必要があります。<br>[例]<br>事業資金1,000万円が必要な場合100万円は自分で準備し900万円の借り入れとなります。1,000万円借りたい場合は事業資金を1,120万円とし120万円を自分で準備すればいいわけです。</rb></td></tr>
    <tr><th>アドバイス</th><td>地元の商工会に最初に相談に行き、商工会から推薦してもらえば話が早くなります。
    手元にお金が無くても自分の通帳にお金があることが証明できればOK
    なので家族・友人に借りてもいいでしょう。その後、通帳に入金し申請書類提出時に通帳をコピーし準備金の証明とします。<strong>融資審査は書類と本人の印象のみで決定します。正装で堂々とした態度で熱意を伝えましょう。</strong></td></tr>
  </table>
</div>  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>