<% @title = '飲食店開業の必要資格' %>
<h1><strong><%= @title %></strong></h1>

<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">必要資格</th></tr>
    <tr><th>調理師免許</th><td>必要なし（ふぐ料理は資格が必要）</td></tr>
    <tr><th>食品衛生管理者</th><td>後に講習を受ける必要あります。（保健所に問い合わせ）</td></tr>
    <tr><th>アドバイス</th>
    <td>飲食業開始時に必要となる資格はありません。
    食品衛生管理者の講習は年１回、保健所主催の講習会があるので費用１万円で講習を受ければ資格がもらえます。
    あとは別項目の届け出申請さえ行えば開業できます。</td></tr>
  </table>
</div>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>
  