<% @title = '居酒屋・飲食店開業までのスケジュール' %>
<h1><strong><%= @title %></strong></h1>

<div class="table-wrapper">
  <table class="attributes">
    <p>開業までの半年間のスケジュール</p>
    <p>
    <%= image_tag("izakayasukejyuru.jpg", size: "60*60", alt: "居酒屋・飲食店開業スケジュール", align: "top") %>
    </p>
    <ul>
      <p>やることが多く感じますが全部簡単な事務手続きですので苦にならないと思います。</p>
    </ul>
  </table>
</div>
    
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>