<% @title = '必要な届け出' %>
<h1><strong><%= @title %></strong></h1>

<tr><td>必要な届け出はいろいろありますが数が多いだけで簡単です。</td></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">必要な届け出</th></tr>
    <tr><th>火を使用する設備の設置届け</th><td>消防署</td></tr>
    <tr><th>食品営業許可</th><td>保健所</td></tr>
    <tr><th>深夜営業許可</th><td>警察署</td></tr>
    <tr><th>開業届け</th><td>税務署</td></tr>
    <tr><th>アドバイス</th>
    <td>必要な届け出は簡単なものばかりなのでできるものから早めに提出し、店舗作業に集中するようにしましょう。少々費用が発生する届け出もありますが少額です。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>