<% @title = '都道府県助成金制度' %>
<h1><strong><%= @title %></strong></h1>

 <tr><td>助成金とは<br>なかなか知っている人は少ないのですが地域を活性化する事業に対して設備投資費用の一部を補助します。という制度です。返金の必要の無いお金です。様々な条件がありますが最大で設備投資の半額が戻ってくる制度です。調べてみる価値はありますよ。</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">助成金制度について</th></tr>
    <tr><th>実施場所</th><td>ハローワーク・起業活性化センター（県庁内）・商工会</td></tr>
    <tr><th>家賃補助制度</th><td>家賃の補助をします。</td></tr>
    <tr><th>設備費用</th><td>これは新品導入品に対して助成。</td></tr>
    <tr><th>人材採用</th><td>人数により金額が変動</td></tr>
    <tr><th>母子家庭者採用</th><td>母子家庭者を採用した場合に適用</td></tr>
    <tr><th>アドバイス</th>
    <td>助成金は返却義務の発生しないお金です。運転資金に回すこともできます。私の場合は1千300万円の助成をうけました。
      窓口に問い合わせしてみる価値ありです。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>