<% @title = '運転資金について' %>
<h1><strong><%= @title %></strong></h1>

<tr><td>最初にぶち当たる壁でしょう。店舗が軌道に乗るまで半年～1年はかかります。その間に資金ショートしないように準備しておくお金のことを運転資金と言います。</td></tr>
<div class="table-wrapper">
   <table class="attributes">
    <tr><th colspan= "3">運転資金について</th></tr>
    <tr><th>調達方法</th><td>創業融資と同時に申請し準備する。</td></tr>
    <tr><th>必要額</th><td>固定費の3～6ヶ月分でいいでしょう。</td></tr>
    <tr><th>アドバイス</th>
    <td>運転資金は金融機関から融資を受けるときに一緒に借りてしまいましょう。目安となる金額は固定費の3ヶ月分～6ヶ月分を準備するのが普通です。よく間違いを犯すのが運転資金で準備したお金で設備を導入してしまうことです。お店が軌道に乗るまでは最小限の設備で最高のパフォーマンスを出すようにしましょう。</td></tr>
  </table>
</div>
  
<div class="table-wrapper">
  <div class="links">
    <%= link_to '開業手順へ戻る', :hint_customer_tavern %>
  </div>
</div>