WONDER GATE　会員さま
<hr />
<p>いつもサイトをご利用いただきありがとうございます。<br>サイトで開催するイベントが追加されました。<br>参加資格のある方、参加費の費用を負担し参加する方など<br>多数の参加申し込みをお待ちしております。</p>

<p>詳しくはサイトへログインしていただきご確認のほどお願いします。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com/visitor/rule/welcome' %>からログインを行ってください。</P>