<% @title = '不服申し立て' %>
<h1><%= @title %></h1>

<tr><th>判決に不満がある場合に意義を申し立てることです。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">不服申し立て（控訴ともいうのかな？）</th></tr>
    <tr><th>不服申し立ての期間</th><td>いつでもできるわけではないので判決後一週間くらいで弁護士を通じ申し立てを行います。</td></tr>
    <tr><th>刑が確定するまで</th><td>最高裁まで争えます。数ヶ月もかかるようです。その間は拘置所での生活が続きます。そこまで争っても無罪になることはほとんど無いようです。</td></tr>
    <tr><th>個人的な意見です。</th><td>無実なのに裁判にかけられているのなら不服申してをするのは当然だと思いますが、被害者のことを考えると判決は素直に受け入れるべきだと思います。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>