<% @title = '考査期間' %>
<h1><%= @title %></h1>

<tr><th>刑務所生活の心得、学力テスト、面接など就職試験みたいなことを受けながら刑務所生活に慣れる期間のようです。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
    <tr><th colspan= "3">考査期間</th></tr>
    <tr><th>規律を身につける</th><td>気をつけ、礼、歩行、返事など体育会系のようなイメージを想像すればいいでしょう。</td></tr>
    <tr><th>入浴</th><td>週２回で入浴時間は１５分です。</td></tr>
    <tr><th>食事</th><td>配達される食事を室内で食べます。残してもいいみたいです。</td></tr>
    <tr><th>食器洗浄</th><td>部屋のシンクで決められた役割分担で交代制で洗います。</td></tr>
    <tr><th>掃除</th><td>毎朝、決められた役割分担で掃除をします。</td></tr>
    <tr><th>入浴</th><td>週２回で入浴時間は１５分です。</td></tr>
    <tr><th>作業</th><td>考査期間は部屋の中で簡単な作業をします。</td></tr>
    <tr><th>作業中の態度</th><td>作業時間はよそ見禁止、（横を向いても怒られます。）話をしてもいけません。手元以外見てはいけないイメージです。常に監視されています。</td></tr>
    <tr><th>試験</th><td>刑務所で試験？面接？何なんでしょう。学力とか、性格とか適正とかをみるようです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>