<% @title = '警務作業工場へ配属' %>
<h1><%= @title %></h1>

<tr><th>出所するまで作業する工場へ配属されます。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">作業内容</th></tr>
    <tr><th>報奨金（給料）</th><td>段階的に上がっていきます。最初の月は５００円くらいでしょう。時給で言うと￥４円くらいじゃないかな？</td></tr>
    <tr><th>作業内容</th><td>特別な技能を必要とする仕事は無いようです。</td></tr>
    <tr><th>作業態度</th><td>何をするのも刑務官の許可をもらうようです。作業中はよそ見禁止、私語禁止など自由を全部奪われるようです。</td></tr>
    <tr><th>優遇制度</th><td>驚いたことに刑務所内でたいぐうが緩和される優遇制度があるようです。面会の回数や時間が増えたり、お菓子の購入が許されたりなど拘束条件が緩くなっていく制度があり受刑者の中では少しでも上に行けるように頑張るそうです。</td></tr>
    <tr><th>刑務官</th><td>担当の刑務官の中にはいろいろと話し相手にもなってくれる刑務官もいるようですが厳しい目で見られ、違反をすると罰を受けて刑務所内の優遇制度が下がるようです。</td></tr>
    <tr><th>食事</th><td>きっちりカロリー計算された食事なのでかなりのスピードで体重が落ちていくようです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>