<% @title = '起訴' %>
<h1><%= @title %></h1>

<tr><th>起訴されるとは裁判にかけられるということです。検察官が起訴状を裁判所に提出すれば起訴されたことになります。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">起訴</th></tr>
    <tr><th>起訴されたら</th><td>日本の場合どうあがいても無罪になることはほとんどありません。罪を受け止め素直の系に服す覚悟でいましょう。</td></tr>
    <tr><th>起訴されたら</th><td>留置所から拘置所へ移送されます。ここは裁判が結審するまで（刑が確定するまで）入ることになります。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>