<% @title = '拘置所へ移送（刑務所内）' %>
<h1><%= @title %></h1>

<tr><th>拘置所は刑が確定するまで入る所です。半分刑務所みたいなイメージで何人かの人と同室になるので寂しさは感じないし一ヶ月ぶりに人と話ができるので少し心が軽くなるようです。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">拘置所</th></tr>
    <tr><th>刑務所への入所</th><td>持ち物検査、身体測定、健康診断を行います。</td></tr>
    <tr><th>服装</th><td>支給された物を着てもいいし、自分の服を着て言いようです。</td></tr>
    <tr><th>備品購入</th><td>コーヒー、お菓子、新聞、本、など購入できるようです。小説等の本の貸し出しもしてくれるようです。</td></tr>
    <tr><th>理髪</th><td>丸坊主は無料でやってくれます。申請すれば外部から業者が来て有料でやってくれます。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>