<% @title = '満期' %>
<h1><%= @title %></h1>

<tr><th>満期になれば公民権が復活します。（選挙権が与えられます。）</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">満期になれば</th></tr>
    <tr><th>公民権の復活</th><td>簡単にいうと選挙権が与えられます。</td></tr>
    <tr><th>刑期終了</th><td>満期になれば刑期は終了し、形式的には罪を償ったということになります。</td></tr>
    <tr><th>前科は？</th><td>前科はつきます。満期から１０年経過すると前科は消え前歴ありに変わります。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>