<% @title = '保護観察官との面談' %>
<h1><%= @title %></h1>

<tr><th>仮釈放から満期になるまで保護観察官との面談は毎月あるようです。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">保護観察官とは？</th></tr>
    <tr><th>保護観察官</th><td>自宅の近所に必ずいるようです。出所時に指定されます。</td></tr>
    <tr><th>面談の頻度</th><td>満期になるまで毎月２回面談する必要があります。</td></tr>
    <tr><th>面談内容</th><td>ちゃんと生活できているか、居住地の確認のための面談だと思います。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>