<% @title = '刑期を努める刑務所へ移送' %>
<h1><%= @title %></h1>

<tr><th></th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">本格的な刑務所生活へ</th></tr>
    <tr><th>移送手段</th><td>手錠をしてロープでつながれたまま公共交通機関で移動します。かなり恥ずかしい思いをするようです。</td></tr>
    <tr><th>私物の持ち込み</th><td>前刑務所から持ってきた物はそのまま使えます。</td></tr>
    <tr><th>荷物の量</th><td>多いと重いため大変なようです。大きめのバックなどを差し入れてもらえば楽なようです。</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>