<% @title = '検察官取り調べ（検察庁内）' %>
<h1><%= @title %></h1>

<tr><th>警察署の取り調べと違い犯罪と関係の無いところまで質問されます。たぶん余罪や別の罪を犯してないか探っているのでしょう。</th></tr>
<div class="table-wrapper">
  <table class="attributes">
     <tr><th colspan= "3">取り調べ内容</th></tr>
    <tr><th>検察官・書記官</th><td>警察での取り調べ内容の確認に加え私生活についても細かく聞かれます。こんなことまで答えなくてはいけないの？というくらい細かく質問されるようです。</td></tr>
    <tr><th>取り調べ回数</th><td>問題が無ければ２回くらいでしょう。</td></tr>
    <tr><th>アドバイス</th><td>あまり細かく聞かれるので頭にくる人もいるようです。聞かれたことには包み隠さず真実を話した方が印象がいいみたいです。相手も人間なので反省しているかしていないかで求刑も違ってくるのでは？</td></tr>
  </table>
</div> 

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'トップへ戻る', :top_customer_prisoner %>
  </div>
</div>