<%= @user.family_name + @user.given_name %>さま
<hr />
<p>ワンダーゲート運営局です。</p>
<p>いつもサイトをご利用いただきありがとうございます。</p>
<p><%= @user.family_name + @user.given_name %>さまは、昨年度の年間成績において、特典ボーナス　クイーン　を獲得いたしました。<br>特典ボーナスとして　資格獲得パーティー　へのペアでのご招待と1月末までに旅行券（￥40万円）を<br>送付させていただきます。国内、海外問わずご自由にご旅行をお楽しみください。</p>

<P>資格獲得パーティー詳細については会員ページのサイトイベント一覧で確認願います。<br><%= @user.family_name + @user.given_name %>さまにつきましてはペアでご招待させていただきます。2名分の交通費、宿泊費はサイト側にて負担いたしますので是非、参加してください。</P>

<P>旅行券と一緒に送付した領収書は受け取り印を捺印、署名の上、返送してください。</P>

<p>1年間、本当にお疲れ様でした。</p>

<p>今後もサービスを充実させていきますので末永くご利用のほどお願いします。</p>

<P>サイトをご利用いただくには<%= link_to 'こちら', 'https://wonder-gate.com' %>からログインを行ってください。</P>